/* Blog Card */
.blog-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--surface-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
    height: 100%;
    transition: all ease-in-out 0.3s;
}

.blog-card-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.blog-card-content {
    padding: 1rem;
    background: white;
    position: relative;
    z-index: 1;
}

.blog-card-content a.stretched-link {
    color: #333;
    text-decoration: none;
}

.blog-card-content h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.blog-date {
    font-size: 0.875rem;
    color: #777;
    margin-bottom: 1rem;
}

.blog-excerpt {
    font-size: 1rem;
    color: #555;
}

.blog-card:hover {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
}

/* End Blog Card */

/*--------------------------------------------------------------
# Profile Section
--------------------------------------------------------------*/
.profile {
    width: 100%;
    min-height: 50vh;
    position: relative;
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.profile:before {
    content: "";
    background: color-mix(in srgb, var(--background-color), transparent 30%);
    position: absolute;
    inset: 0;
    z-index: 2;
}

.profile .container {
    position: relative;
    z-index: 3;
}

.profile h2 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    font-family: var(--nav-font);
}

.profile h2 span {
    color: var(--accent-color);
}

.profile p {
    margin: 10px 0 0 0;
    font-size: 20px;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
}

.profile .icon-box {
    padding: 30px 20px;
    transition: ease-in-out 0.3s;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 70%);
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile .icon-box i {
    font-size: 32px;
    line-height: 1;
    color: var(--accent-color);
}

.profile .icon-box h3 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    line-height: 26px;
}

.profile .icon-box h3 a {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    transition: ease-in-out 0.3s;
}

.profile .icon-box:hover {
    border-color: var(--accent-color);
}

.profile .icon-box:hover h3 a {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    .profile h2 {
        font-size: 32px;
    }

    .profile p {
        font-size: 18px;
    }
}